<section>
    <h1>{{title}}</h1>

    <div class="row">
        <div class="col-md-4 well well-sm">
            <search-tasks></search-tasks>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#task">Task Details</a></li>
                <li><a href="#">Financials</a></li>
            </ul>
            <div id="task">
                <task-detail></task-detail>
            </div>
        </div>
       
    </div>
</section>